{% extends "base.html" %}
{% load static %}
{% block title%} question {% endblock %}
{% block main %}
    <div class="question">
        <div class="row">
            <div class="question__info col-md-3 col-sm-3">
                <a href="#">
                    <img class="question__info-img img-rounded"
                         src="{{ question.question_user.profile.avatar.url }}"
                         alt="">
                </a>
                <div class="question__info-rating">
                    <p class="question__info-count-votes">
                        <b>Rating:</b>
                        <span class="">
                            0
                        </span>
                    </p>
	            <input type='hidden' name='csrfmiddlewaretoken' value='vcJsfC7WpCTgDnAgTgtNU30wzuArvar2' />
                    <a url="/vote/question/"
                       action="True"
                       class="question__info-like questions-item__vote">
                        <span class="glyphicon glyphicon glyphicon-plus"></span>
                    </a>
                    <a url="/vote/question/"
                       action="False"
                       class="question__info-dislike questions-item__vote">
                        <span class="glyphicon glyphicon glyphicon-minus"></span>
                    </a>
                </div>
            </div>
            <div class="question__content col-md-9 col-sm-9">
                <h3 class="question__content-title">
                    {{question.title}}
                </h3>
                <p class="question__content-text">
                    {{question.text}}
                </p>

                <span class="question__content-tags">
                    <b>Tags:</b>
                </span>
                {% for tag in question.tags.all %}
                            <!--<a class="questions-item__content-tag btn btn-default btn-xs" href="#">-->
                                {{tag.text}}
                            <!--</a>-->
                {% endfor %}
            </div>
        </div>
    </div>
    <hr class="question__line">
<div class="comments">
        {%for answer in question.answers.all %}
            <div class="comments-item well col-md-offset-1 col-md-offset-10">
                <div class="row">
                    <div class="comments-item__info col-md-2 col-sm-2">
                        <a href="#">
                            <img class="comments-item__info-img img-rounded" src="{{ answer.user.profile.avatar.url }}" alt="">
                        </a>
                        <div class="comments-item__info-rating">
                            <p class="comments-item__info-count-votes">
                                <b>Rating:</b>
                                <span >
                                    0
                                </span>
                            </p>
                            <a url="#" action="True"  class="comments-item__like comments-item__vote">
                                <span class="glyphicon glyphicon glyphicon-plus"></span>
                            </a>
                            <a url="/vote/answer/" action="False" class="comments-item__dislike comments-item__vote">
                                <span class="glyphicon glyphicon glyphicon-minus"></span>
                            </a>
                        </div>
                    </div>
                    <div class="comments-item__content  col-md-10 col-sm-10">
                        <p class="comments-item__content-text">
                            {{answer.text}}
                        </p>
                        
                            <input url="/correct/" class="correct-checkbox" type="checkbox">
                            Correct!
                    </div>
                </div>
            </div>
            {% endfor %}
            <hr class="comments__line">

                    </div>
                    <div class="content__footer">
                        
    
        
        {% if  request.user.is_authenticated %}
        <div class="answer">
            <form class="answer__form">
                <textarea class="answer__form-input form-control" cols="30" id="id_text" name="text" placeholder="Enter your answer" rows="5" type="textarea"></textarea>
                <input type="hidden" name="quest" value={{question.pk}}>
                <button class="answer__form-submit btn btn-success" type="submit">
                    Answer!
                </button>
            </form>
        </div>
        {% endif %}
</div>

{% endblock %}