{% extends 'base.html' %}
{% block title%}Register{% endblock%}
{% block main %}
<div class="page-header">
  	<h1>Register</h1>          
</div>
<form class="form-horizontal" method="post" action="{% url 'register'%}">
  <div class="form-group">
      {% csrf_token %}
    {% for f in form.visible_fields %}
        <div class="form-group {% if f.errors %} has-error {% endif %}">
            <label for="{{ f.id_for_label }}">{{ f.label }}</label>
            {{ f }}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-success button_submit_register ">Register</button>
  </div>
</form>
{% endblock%}